.applications-header {
    display: block;
    padding: var(--space-4) var(--space-4) 0;
}

@media (min-width: 768px) {
    .applications-header {
        padding: var(--padding-card) var(--padding-card) 0;
    }
}

@media (min-width: 1024px) {
    .applications-header {
        padding: var(--space-8) var(--space-8) 0;
    }
}
