<ng-template #projectedContent>
    <ng-content />
</ng-template>

@if (routerLink) {
<a [routerLink]="routerLink" class="landing-button" [class.landing-button--primary]="variant === 'primary'"
    [class.landing-button--ghost]="variant === 'ghost'" [class.landing-button--cta]="variant === 'cta'"
    [class.landing-button--outline]="variant === 'outline'" [class.landing-button--lg]="size === 'lg'">
    <ng-container *ngTemplateOutlet="projectedContent" />
</a>
} @else {
<a [href]="href" (click)="onAnchorClick($event)" class="landing-button"
    [class.landing-button--primary]="variant === 'primary'" [class.landing-button--ghost]="variant === 'ghost'"
    [class.landing-button--cta]="variant === 'cta'" [class.landing-button--outline]="variant === 'outline'"
    [class.landing-button--lg]="size === 'lg'">
    <ng-container *ngTemplateOutlet="projectedContent" />
</a>
}
