<footer class="landing-site-footer" data-section="site-footer">
    <div class="landing-site-footer-inner">

        <div class="landing-site-footer-brand" data-animate="footer-brand">
            <a class="landing-site-footer-brand-link" routerLink="/">
                <app-icon name="logo-mark-filled" class="landing-site-footer-brand-mark" />
                <span class="landing-site-footer-brand-name">JobTracker</span>
            </a>
        </div>

        <div class="landing-site-footer-column" data-animate="footer-column">
            <h4 class="landing-site-footer-column-title">{{ 'landing.footer.productTitle' | translate }}</h4>
            <a class="landing-site-footer-link" href="#features"
                (click)="onSectionLinkClick($event, '#features')">{{ 'landing.footer.productLink1' | translate }}</a>
            <a class="landing-site-footer-link" href="#pricing"
                (click)="onSectionLinkClick($event, '#pricing')">{{ 'landing.footer.productLink2' | translate }}</a>
            <a class="landing-site-footer-link" href="#changelog"
                (click)="onSectionLinkClick($event, '#changelog')">{{ 'landing.footer.productLink3' | translate }}</a>
        </div>

        <div class="landing-site-footer-column" data-animate="footer-column">
            <h4 class="landing-site-footer-column-title">{{ 'landing.footer.companyTitle' | translate }}</h4>
            <a class="landing-site-footer-link" href="#about"
                (click)="onSectionLinkClick($event, '#about')">{{ 'landing.footer.companyLink1' | translate }}</a>
            <a class="landing-site-footer-link" href="#contact"
                (click)="onSectionLinkClick($event, '#contact')">{{ 'landing.footer.companyLink2' | translate }}</a>
            <a class="landing-site-footer-link" href="#blog"
                (click)="onSectionLinkClick($event, '#blog')">{{ 'landing.footer.companyLink3' | translate }}</a>
        </div>

        <div class="landing-site-footer-column" data-animate="footer-column">
            <h4 class="landing-site-footer-column-title">{{ 'landing.footer.supportTitle' | translate }}</h4>
            <a class="landing-site-footer-link" href="#help"
                (click)="onSectionLinkClick($event, '#help')">{{ 'landing.footer.supportLink1' | translate }}</a>
            <a class="landing-site-footer-link" href="#privacy"
                (click)="onSectionLinkClick($event, '#privacy')">{{ 'landing.footer.supportLink2' | translate }}</a>
            <a class="landing-site-footer-link" href="#terms"
                (click)="onSectionLinkClick($event, '#terms')">{{ 'landing.footer.supportLink3' | translate }}</a>
        </div>

        <div class="landing-site-footer-social" data-animate="footer-social">
            <h4 class="landing-site-footer-column-title">{{ 'landing.footer.followTitle' | translate }}</h4>
            <div class="landing-site-footer-social-row">
                <a class="landing-site-footer-social-link" href="#" aria-label="GitHub"
                    (click)="onSectionLinkClick($event, '#')">
                    <app-icon name="github" />
                </a>
                <a class="landing-site-footer-social-link" href="#" aria-label="LinkedIn"
                    (click)="onSectionLinkClick($event, '#')">
                    <app-icon name="linkedin" />
                </a>
                <a class="landing-site-footer-social-link" href="#" aria-label="Twitter"
                    (click)="onSectionLinkClick($event, '#')">
                    <app-icon name="twitter" />
                </a>
            </div>
        </div>

    </div>
</footer>
