.page {
    height: 100vh;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    padding: 0px;
    background-color: var(--clr-bg);
}

.panel {
    flex: 1;
    background-color: var(--clr-white);
    /* border: 1px solid var(--clr-border);
    border-radius: var(--radius-xl); */
    box-shadow: 0 1px 3px var(--clr-shadow);
    display: flex;
    flex-direction: row;
    overflow: hidden;
    min-height: 0;
}

@media (max-width: 767px) {
    .panel {
        /* border-radius: 0;
        border: none; */
        box-shadow: none;
    }
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    min-width: 0;
}

.content-body {
    flex: 1;
    padding: var(--space-4) var(--space-4) var(--space-12);
    overflow-y: auto;
    overflow-x: hidden;
    min-height: 0;
    background-color: var(--clr-bg-2);
}

@media (min-width: 768px) {
    .content-body {
        padding: var(--padding-card);
    }
}

@media (min-width: 1024px) {
    .content-body {
        padding: var(--space-8);
    }
}

.content-body--kanban {
    overflow: hidden;
    padding: 0;
}

.content-body--table {
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
}