<div class="autocomplete-input-wrapper">
    <input #textField class="autocomplete-input-field" type="text" autocomplete="off" [id]="inputId"
        [placeholder]="placeholder" [value]="value" (input)="onInput($event)" (click)="onFieldClick($event)" />

    @if (value) {
    <button type="button" class="autocomplete-input-clear" (click)="clear($event)">
        <app-icon name="close" [size]="10" [strokeWidth]="3" />
    </button>
    }

    <button type="button" class="autocomplete-input-toggle" (click)="toggle($event)">
        <app-icon name="chevron-down" class="autocomplete-input-chevron" [class.autocomplete-input-chevron--open]="isOpen" [size]="14" />
    </button>
</div>

@if (isOpen && filteredOptions.length > 0) {
<div class="autocomplete-input-panel" [style.top.px]="panelTop" [style.left.px]="panelLeft"
    [style.width.px]="panelWidth" (click)="$event.stopPropagation()">
    @for (option of filteredOptions; track option) {
    <button type="button" class="autocomplete-input-option" [class.autocomplete-input-option--active]="option === value"
        (click)="pick(option, $event)">
        <span>{{ option }}</span>
        @if (option === value) {
        <app-icon name="check" [size]="13" />
        }
    </button>
    }
</div>
}
